.city {
  padding: 2rem 3rem;
  max-height: 70%;
  background-color: var(--clr-grey-4);
  border-radius: 7px;
  /* overflow: scroll; */

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.city h6 {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 900;
  color: var(--clr-grey-6);
}

.city h3 {
  font-size: 1.9rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--clr-grey-8);
}

.city h3 span {
  font-size: 3.2rem;
  line-height: 1;
}

.city p {
  font-size: 1.6rem;
  color: var(--clr-grey-8);
}

.city a:link,
.city a:visited {
  font-size: 1.6rem;
  color: var(--clr-secondary-1);
}
