.cityItem,
.cityItem:link,
.cityItem:visited {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  background-color: var(--clr-grey-4);
  border-radius: 7px;
  padding: 1rem 2rem;
  /* border-left: 5px solid var(--clr-primary-5); */
  cursor: pointer;

  color: inherit;
  text-decoration: none;
}

.cityItem--active {
  border: 2px solid var(--clr-primary-5);
  border-left: 5px solid var(--clr-secondary-1);
}

.emoji {
  font-size: 2.6rem;
  line-height: 1;
}

.name {
  font-size: 1.7rem;
  font-weight: 600;
  margin-right: auto;
}

.date {
  font-size: 1.5rem;
}

.deleteBtn {
  height: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--clr-grey-3);
  color: var(--clr-grey-8);
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s;
}

.deleteBtn:hover {
  background-color: var(--clr-secondary-1);
  color: var(--clr-grey-2);
}
